@using ServiceControl.Web.Models.Orders
@model EditOrderModalViewModel
<form id="OrdersSearchForm" class="form-horizontal">
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="dateFrom">@L("DateFrom")</label>
            <input id="dateFrom" type="text" class="form-control datepicker" name="dateFrom">
        </div>
        <div class="form-group col-md-2">
            <label for="dateTo">@L("DateTo")</label>
            <input id="dateTo" type="text" class="form-control datepicker" name="dateTo">
        </div>
        <div class="form-group col-md-2">
            <label for="company">@L("Company")</label>
            @Html.DropDownList("CompanyId", Model.Company, new { @class = "form-control", id = "CompanyId", multiple = "multiple"})
        </div>
        <div class="form-group col-md-2">
            <label for="OrderStateId">@L("OrderState")</label>
            @Html.DropDownList("OrderStateId", Model.OrderState, new { @class = "form-control", id = "OrderStateId", multiple = "multiple" })
        </div>
        <div class="form-group col-md-2">
            <label for="Followed">@L("Followed")</label>
            @Html.DropDownList("Followed", Model.Followed, new { @class = "form-control", id = "Followed" })
        </div>
        <div class="form-group col-md-1">
            <button type="button" class="btn bg-blue btn-search">
                <span class="fas fa-search" aria-hidden="true"></span> Find
            </button>
        </div>
        <div class="form-group col-md-1">
            <button type="button" class="btn bg-green btn-search export-button">
                <span class="fas fa-table" aria-hidden="true"></span> Excel
            </button>
        </div>
    </div>
</form>