@using ServiceControl.Web.Startup
@using ServiceControl.Web.Models.Orders
@model EditOrderModalViewModel
@{
    ViewBag.Title = L("Orders");
    ViewBag.CurrentPageName = PageNames.Users;
}
@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Orders/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Orders/Index.min.js" asp-append-version="true"></script>
    </environment>
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>@L("Orders")</h1>
            </div>
            <div class="col-sm-6">
                <a href="javascript:;" data-toggle="modal" data-target="#OrderCreateModal" class="btn bg-blue float-sm-right">
                    <i class="fa fa-plus-square"></i>
                    @L("Create")
                </a>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        @await Html.PartialAsync("~/Views/Orders/Index.AdvancedSearch.cshtml")
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="OrdersTable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>@L("Company")</th>
                                        <th>@L("Serial")</th>
                                        <th>@L("DateBooked")</th>
                                        <th>@L("OrderState")</th>
                                        <th>@L("Sgi")</th>
                                        <th>@L("SalesRep")</th>
                                        <th>@L("CustomerFirstName")</th>
                                        <th>@L("CustomerLastName")</th>
                                        <th>@L("ContactPhone")</th>
                                        <th>@L("Email")</th>
                                        <th>@L("DateOfBirth")</th>
                                        <th>@L("FirstIdentification")</th>
                                        <th>@L("SecondIdentification")</th>
                                        <th>@L("ExistingAccountNo")</th>
                                        <th>@L("StreetNo")</th>
                                        <th>@L("CustomerAddress")</th>
                                        <th>@L("Unit")</th>
                                        <th>@L("City")</th>
                                        <th>@L("PostalCode")</th>
                                        <th>@L("PromoDetails")</th>
                                        <th>@L("Notes")</th>
                                        <th>@L("TimeSlot")</th>
                                        <th style="width: 150px">@L("Actions")</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync("~/Views/Orders/_CreateModal.cshtml", Model)

<div class="modal fade" id="OrderEditModal" tabindex="-1" role="dialog" aria-labelledby="OrderEditModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
